.two-containers {
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 3vh 0;
}

.two-containers .book_details {
	padding: 3rem 0;
	max-width: 35%;
}

.book_details .book_img {
	height: 400px;
}

.form_detail {
	margin: 5vh 0%;
	font-size: 1.2rem;
	width: 100%;
}