.two-containers {
	display: flex;
	justify-content: space-between;
	align-content: center;
	margin: 3vh 0;
}

.two-containers .book_details {
	padding: 3rem 0;
	max-width: 35%;
	width: 35%;
	/* height: 600px; */
}

.form_detail {
	margin: 0 10%;
	font-size: 1.2rem;
	width: 60%;
}